/*
* #051f3e   [BG]
* #072F5F   [MAIN]
* #1261A0   [SUB]
* #3895D3   [ELEMENT]
* #58CCED   [ELEMENT]
*
* XXX in = _heigh
* XXX em = _margin-top
*/

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.1s;
}

::selection {
    background-color: #1261a0;
}

body.fhf_html {
    animation: dubStep 1s linear infinite;
}

body.fhf_html p.unfound {
    font-family: monospace;
    margin: 10px;
    margin-left: 20px;
    color: whitesmoke;
    animation: textEpilepsy 1s linear infinite;
}

body.fhf_html b.fhf {
    font-size: 300%;
}

body.fhf_html span.matter {
    font-weight: bold;
}

@keyframes dubStep {
    0% {
        background-color: #051f3e;
    }
    
    49% {
        background-color: #051f3e;
    }
    
    50% {
        background-color: whitesmoke;
    }
    
    100% {
        background-color: whitesmoke;
    }
}

@keyframes textEpilepsy {
    0% {
        color: whitesmoke;
    }

    49% {
        color: whitesmoke;
    }
    
    50% {
        color: #051f3e;
    }

    100% {
        color: #051f3e;
    }
}

body.index_html {
    font-family: monospace;
    background-color: #051f3e;
    color: whitesmoke;
    text-align: center;
    margin-top: 30vh;
    user-select: none;
    zoom: 100%;
}

body.index_html img.profile, body.main_html img.profile {
    border-radius: 50px;
    transition: 0.1s;
}

body.index_html img.profile:hover, body.main_html img.profile:hover {
    cursor: pointer;
}

body.index_html img.profile:active, body.main_html img.profile:active {
    opacity: 50%;
}

body.index_html span.caption, body.main_html span.caption {
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
}

body.index_html span.motto, body.main_html span.motto {
    font-size: smaller;
    color: gainsboro;
    margin: 10px;
}

body.main_html {
    font-family: monospace;
    color: whitesmoke;
    zoom: 100%;
}

body.main_html::selection {
    background-color: #1261a0;
}

body.main_html ul.page_nav {
    float: left;
    position: fixed;
    top: 30%;
}

body.main_html ul.page_nav li {
    background-color: #1261a0;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
}

body.main_html a {
    color: whitesmoke;
    text-decoration: none;
}

body.main_html ul.page_nav li:hover {
    background-color: #0e4b7c;
}

body.main_html ul.page_nav li:active {
    background-color: #0d4470;;
    color: gainsboro;
}

body.main_html ul.page_nav li.home_nav {
    border-radius: 0px 10px 0px 0px;
}

body.main_html ul.page_nav li.contact_nav {
    border-radius: 0px 0px 10px 0px;
}

body.main_html div.home_page {
    background-color: #051f3e;
    color: whitesmoke;
    text-align: center;
    height: 3in;
}

body.main_html div.home_content {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-top: 8em;
}

body.main_html div.about_page {
    background-color: lightcyan;
    padding: 20px;
    color: #051f3e;
    text-align: center;
    height: 5.5in;
    overflow: auto;
}

body.main_html h1.about_title, h1.project_title {
    font-weight: bolder;
    font-family: serif;
    margin-top: 1.8em;
}

body.main_html p.about_text {
    text-align: left;
    margin: 10px 20vw 0px 20vw;
}

body.main_html button.portfolio_button {
    background-color: transparent;
    color: #051f3e;
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid #051f3e;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

body.main_html button.portfolio_button:hover {
    background-color: rgb(215, 240, 255);
}

body.main_html button.portfolio_button:active {
    background-color: rgb(185, 220, 255);
}

body.main_html div.project_page {
    background-color: #051f3e;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    height: 5.5in;
}

body.main_html div.project_management {
    text-align: left;
    margin: 10px 20vw 0px 20vw;
}

body.main_html div.contact_page {
    background-color: lightcyan;
    color: whitesmoke;
    text-align: center;
    height: 50vh;
}

@media screen and (max-width: 768px) {
    body.index_html, body.main_html {
        zoom: 75%;
    }

    body.main_html ul.page_nav {
        top: 32%;
    }
}

@media screen and (max-width: 425px) {
    body.main_html div.about_page {
        height: 8in;
    }

    body.main_html div.project_page {
        height: 6.5in;
    }
}
